.firstrow {
    display: flex;
}

.first {
    width: 1017px;
    height: 1134px;
    flex-shrink: 0;
    background: #FAF4F1;
    display: flex;
}

.llc {
    margin-top: -38px;
    width: 127px;
    height: 65px;
    flex-shrink: 0;
    color: #5E443A;
    font-family: roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.llc-header {
    display: flex;
    column-gap: 50px;
    margin-left: 80px;
    width: 726px;
    height: 30px;
    flex-shrink: 0;
    color: #5E443A;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.llc-header p a {
    text-decoration: none;
    color: #5E443A;
}

a:hover {
    color: #FFBF52;
}

.search-llc {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    margin-left: 90px;
    margin-top: 20px;
}

.login {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #5E443A;
    background: #FFFEFE;
    margin-left: auto;
    margin-top: 10px;
}

.login p {
    font-size: 30px;
    margin-top: 3px;
    margin-left: 30px;
    color: #5E443A;
}

.right-content {
    position: absolute;
    margin-top: -1000px;
}

.orange-line {
    width: 149px;
    height: 9px;
    background: #FFBF52;
    margin-left: 30px;
}

.modern {
    margin-top: 10px;
    margin-left: 30px;
    width: 627px;
    height: 158px;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description {
    margin-top: 100px;
    margin-left: 30px;
    width: 669px;
    height: 146px;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.enroll {
    margin-top: -35px;
    margin-left: 30px;
    width: 200px;
    height: 55px;
    flex-shrink: 0;
    background-color: #FFBF52;
}

.enroll p {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 283px;
    height: 46px;
    flex-shrink: 0;
    padding-left: 10px;
    padding-top: 16px;
}

.hola {
    margin-top: -1000px;
    margin-left: 700px;
    width: 550px;
    height: 550px;
    position: relative;
    border-radius: 8%;
}

.main {
    display: flex;
}