/*color:#faf4f1;
color:#5e3a3a*/
/*POPULAR COURSES*/
.popular-courses{
    background-color: #faf4f1;
}
.roboto{
    width: 454.219px;
    height: 61px;
    color:#000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin:50px;
}
.medium{
    width: 1566px;
height: 194px;
color: #000;
font-family: Kokoro;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin:50px;

}
.view-all-courses{
    width: 338px;
height: 72px;
border: 1px solid #000;
background: #FAF4F1;
float:right;
margin-top: -200px;
cursor: pointer;
color: #000;
font-family: Kokoro;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right:50px;
}
.view-all-courses:hover{
    background-color:#5e3a3a ;
    color:#FAF4F1;
}

.courses-language{
    margin:30px;
    display: flex;
    margin-right:20px;
    background-color: #faf4f1;
}
.language{
    background-color: white;
    margin-right: 30px;
    margin-bottom: 50px;
}
.img-language-eng{
    width: 370px;
    height:400px;
}
.name-language{
   width: 392.069px;
height: 71.858px;
flex-shrink: 0;
color: #000;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}
.description{
    width: 326.028px;
height: 80.429px;
flex-shrink: 0;
color: #000;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.enroll{
    width: 370px;
height: 44.912px;
flex-shrink: 0;
background-color: #428BCA;
color: #FFF;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin:15px;
cursor: pointer;
}
.img-language-fr{
    width: 370px;
    height:400px;
}
.img-language-dut{
    width: 400px;
    height: 400px;
}
.all-courses-language{
    margin:30px;
    margin-right:20px;
    background-color: #faf4f1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

.img-language-chi{
    width: 400px;
    height: 400px;
}
.img-language-spa{
    width: 400px;
    height: 400px;
}
.img-language-ita{
    width: 400px;
    height: 400px;
}




/*contact-us*/
.contact-me{
    display: flex;
    margin:50px;
}
.text{
    margin-right: 100px;
}
.contact-information{
    background-color:  #faf4f1;
    border-radius: 20%;
    width:500px;
}
.name{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 30px;
}

input{
    width: 150px;
    height: 30px;
   
}
label{
    color:#5e3a3a ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.contain1{
    letter-spacing: -1px;

}