.header {
    color: #000;
    text-align: center;
    font-family: Fraunces;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.84px;
    width: 776px;
    justify-content: center;
    margin-left: 300px;



}

.container {
    justify-content: center;
    text-align: center;
    height: auto;
    justify-content: space-between;
    margin-left: -6px;
}




.text1 {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.92px;
    height: auto;
    justify-content: center;
    flex-shrink: 0;
    width: 550px;
}

.text2 {
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.92px;
    margin-top: 0;
}

.imageround {
    border-radius: 50px !important;
    background: lightgray 50% / cover no-repeat;
    width: 70px !important;
    height: 70px !important;
    order: 1;
    margin-top: 10px;
}

.all1 {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.text {
    display: flex;
    flex-direction: column;
    order: 2;
}

.left {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: space-between;
    height: 500px;
    margin-left: -80px;
}

.student-about {
    display: flex;
    width: 350px;
    margin-left: 9%;

}

.right {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 0px;
    justify-content: space-between;
    height: 500px;
}

@media (max-width: 864px) {
    .right {
        margin-left: 40px;
    }

    .left {
        margin-left: 6%;
    }

    .container {
        margin-left: 0%;
    }

    .header {
        margin-left: -20px;
        margin-right: 320px;
        color: #000;
        text-align: center;
        font-family: Fraunces;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.84px;
        width: 776px;
        justify-content: center;
    }

    .student-about {
        display: block;
        gap: 10px;
    }

    #second {
        margin-top: -400px;
    }

    .right {
        margin-bottom: 0;
        height: 300px;
        margin-top: -8%;
    }

    .left {
        margin-bottom: 0;
        height: 300px;
    }
}

@media (max-width:400px) {
    .header {
        width: 390px;
        font-size: 24px;
        margin-top: -40px;
    }

    .all1 {
        width: 390px;
        margin-left: 0;
    }

    .right {
        margin-left: 40px;
        width: 390px;
        height: 500px;
    }

    .left {
        margin-left: 0%;
        width: 390px;
        height: 500px;
    }

    .container {
        margin-left: 0%;
    }

    .student-about {
        display: block;
        gap: 10px;
    }

    #second {
        margin-top: 0px;
    }

    .right {
        margin-bottom: 0;
        height: 300px;
        margin-top: 0%;
    }

    .left {
        margin-bottom: 0;
        height: 300px;
        margin-left: -40px;
    }

    #first p {
        margin-left: -20px;
        width: 290px;
        margin-top: -100px;
    }

    #first .text2 {
        margin-top: -10px;
    }

    .text2 p {
        margin-top: 50px;
    }

    #second p {
        margin-left: -20px;
        width: 290px;
        margin-top: -30px;
    }

    #third {
        width: 370px;
    }

    #third p {
        margin-left: 0px;
        width: 290px;
        margin-top: 0px;
    }

    #third img {
        margin-top: 105px;
        margin-left: -70px;
    }

    #fourth {
        display: none;
    }

    #second p {
        margin-left: 0px;
        width: 290px;
        margin-top: -120px !important;
    }

    #second img {
        margin-top: 0px;
    }

    #second .text2 {
        margin-top: -8px !important;
    }

    #third .text2 {
        margin-top: -10px;
    }
}