.firstrow {
    display: flex;
    z-index: 2 !important;
    position: relative;
}

.first {
    width: 1017px;
    height: 700px;
    flex-shrink: 0;
    /* Adjust the alpha (0.5) for opacity */
    display: flex;

}

.llc a {
    margin-top: -40px;
    width: 127px;
    height: 65px;
    flex-shrink: 0;
    color: #5E443A;
    font-family: roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.llc a:hover {
    color: orange;
    text-decoration: underline;
}

.main1 {
    margin-top: 10px;
}

.llc-header {
    display: flex;
    column-gap: 50px;
    margin-left: 80px;
    width: 726px;
    height: 30px;
    flex-shrink: 0;
    color: #5E443A;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
}

.llc-header p a {
    text-decoration: none;
    color: #5E443A;
}

a {
    text-decoration: none;
    color: #FFBF52;
}

.search-llc {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    margin-left: 90px;
    margin-top: 25px;
}

.login {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #5E443A;
    background: #FFFEFE;
    margin-left: auto;
    margin-top: 23px;
    margin-left: 60px;
    cursor: pointer;
}

.login p {
    font-size: 30px;
    font-weight: 700px;
    margin-top: 5px;
    margin-left: 0px;
    color: #5E443A;
}

.orange-line {
    width: 100px;
    height: 9px;
    background: #FFBF52;
    margin-left: 0px;
    margin-top: 380px;
}

.modern {
    margin-top: 10px;
    margin-left: 30px;
    width: 627px;
    height: 158px;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description {
    margin-top: 100px;
    margin-left: 30px;
    width: 669px;
    height: 146px;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#home {
    height: 100%;
}

.enroll {
    width: 200px;
    height: 55px;
    flex-shrink: 0;
    background-color: #FFBF52;
    position: absolute;
    z-index: 999;
    top: 80%;
    left: 5%;

}

.enroll:hover {
    background-color: #7F00FF;
    color: aquamarine;
}

.enroll p {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 283px;
    height: 46px;
    flex-shrink: 0;
    margin-left: -40px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.hola {
    margin-top: 400px;
    width: 550px;
    height: 550px;
    position: relative;
    border-radius: 8%;
    z-index: 3;
    margin-left: 30px;
}

.courses {
    color: #000;

    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -25px;
    margin-left: 280px;
}

.buttons {
    display: flex;
}

.main1 {
    display: flex;
    position: absolute;
    margin-top: -1000px;
    z-index: 1 !important;
}

.burger-menu-button {

    display: block;
    /* Add this line to hide it initially */
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    padding: 0;
}

.burger-menu-button .bar {
    display: block;
    width: 20px;
    height: 4px;
    background: black;
    margin: 4px 0;
    border-radius: 2px;
    z-index: 5;
}


.mobile-menu {
    display: none;
}



@media (max-width:864px) and (min-width:400px) {
    .main1 {
        display: block;
        position: absolute;
        margin-top: -1280px;
    }

    .first {
        width: 400px;
        height: 950px;
        flex-shrink: 0;
        background: rgba(250, 244, 241, 0.1);
        display: flex;
    }

    .llc {
        margin-top: -25px;
        width: 57px;
        height: 65px;
        flex-shrink: 0;
        color: #5E443A;
        font-family: roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .llc-header {
        display: flex;
        column-gap: 70px;
        margin-left: -60px;
        margin-top: 40px;
        width: 326px;
        height: 30px;
        flex-shrink: 0;
        color: #5E443A;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 80px;

    }

    .modern {
        margin-top: 40px;
        margin-left: 20px;
        width: 400px;
        height: 127px;
        flex-shrink: 0;
        color: #000;
        text-align: left;
        font-family: Roboto;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .description {

        color: #000;
        width: 390px;
        height: 150px;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        margin-top: 150px;
    }

    .description p {
        width: 350px;
        font-size: 40px;
        text-align: center;
    }



    .buttons {
        display: flex;
    }

    .orange-line {
        width: 100px;
        height: 5px;
        background: #FFBF52;
        margin-top: 400px;
    }

    .login {
        margin-top: 30px !important;
        margin-left: 200px !important
    }

    .login:hover {
        background-color: orange;
        text-decoration: underline;
    }

    .enroll {
        margin-left: 90px;
        width: 210px;
        height: 40px;
        background-color: #FFBF52;
        margin-top: -200px;
    }

    .enroll p {
        color: #FFF;
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 283px;
        height: 46px;
        margin-left: -40px;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    .courses {
        display: none;
    }

    .hola {
        margin-top: -400px;
        padding-top: 10px;
        width: 390px;
        height: 590px;
        margin-left: 380px;
        position: relative;
        border-radius: 8%;
    }

    .search-llc {
        display: none;
    }

    .login {
        width: 130px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 1px;
        border: 1px solid #7F00FF;
        background: #7F00FF;
        margin-top: 529px;
        margin-left: -315px;
        cursor: pointer;
    }

    .login p {
        font-size: 25px;
        color: #ffffff;
        margin-left: -1px;
    }

    .burger-menu-button {
        display: block;

    }

}

@media (max-width:400px) {
    .main1 {
        display: block;
        position: absolute;
        margin-top: -1280px;
    }

    .first {
        width: 400px;
        height: 950px;
        flex-shrink: 0;
        background: rgba(250, 244, 241, 0.1);
        display: flex;
    }

    .login {
        display: block !important;
        margin-top: 29px !important;
        margin-left: -160px !important;
    }

    .llc {
        margin-top: -25px;
        width: 57px;
        height: 65px;
        flex-shrink: 0;
        color: #5E443A;
        font-family: roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .llc-header {
        display: flex;
        column-gap: 10px;
        margin-left: -60px;
        margin-top: 40px;
        width: 326px;
        height: 30px;
        flex-shrink: 0;
        color: #5E443A;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 80px;

    }

    .modern {
        margin-top: 40px;
        margin-left: 20px;
        width: 400px;
        height: 127px;
        flex-shrink: 0;
        color: #000;
        text-align: left;
        font-family: Roboto;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .description {

        color: #000;
        width: 390px;
        height: 150px;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        margin-top: 150px;
    }

    .description p {
        width: 350px;
        text-align: center;
    }

    .buttons {
        display: flex;
    }

    .orange-line {
        width: 100px;
        height: 5px;
        background: #FFBF52;
        margin-top: 400px;
    }

    .login {
        display: none;
    }

    .enroll {
        margin-left: 90px;
        width: 210px;
        height: 40px;
        background-color: #FFBF52;
        margin-top: 300px;
    }

    .enroll p {
        color: #FFF;
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 283px;
        height: 46px;
        margin-left: -40px;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    .courses {
        display: none;
    }

    .hola {
        margin-top: 20px;
        padding-top: 10px;
        width: 390px;
        height: 390px;
        margin-left: -40px;
        position: relative;
        border-radius: 8%;
    }

    .search-llc {
        display: none;
    }

    .login {
        width: 130px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 1px;
        border: 1px solid #7F00FF;
        background: #7F00FF;
        margin-top: 529px;
        margin-left: -315px;
        cursor: pointer;
    }

    .login p {
        font-size: 25px;
        color: #ffffff;
        margin-left: -1px;
    }

    .burger-menu-button {
        display: block;

    }

}