/* Add this CSS to your 'schedule.css' or another appropriate CSS file */

.schedule-title {
    text-align: center;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.schedule-table,
.schedule-th,
.schedule-td {
    border: 1px solid #ddd;
}

.schedule-th,
.schedule-td {
    padding: 8px;
    text-align: left;
}

.schedule-th {
    background-color: #f2f2f2;
}

.schedule-table p {
    margin: 0;
}

.add-schedule-heading {
    margin-top: 20px;
}

.schedule-label {
    display: block;
    margin-top: 10px;
}

.schedule-table {
    color: #FFBF52;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.schedule-select,
.schedule-input {
    width: 32%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.schedule-select {
    height: 40px;
}

.schedule-button {
    display: block;
    margin-top: 10px;
    padding: 10px;
}

.schedule-button {
    margin-left: 44%;
    margin-top: 30px;
}

.schedule-container {
    display: flex;
    flex-direction: column;
}

.schedule-container h1 {
    color: #FFBF52;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.adding-schedule {
    order: 1;
}

.add-to-schedule-box {

    width: 100%;
    border: 2px solid #ccc;


}

.add-to-schedule-box label {
    color: #846F63;
    font-weight: 700px;
}

.add-to-schedule-box h2 {
    color: orange;
}

.add-to-schedule-button {
    background-color: #846F63;
}

.add-to-schedule-box {}

.table123 {
    margin-left: 70px;
}