.popular-courses {
    background-color: #faf4f1;
}

.roboto {
    width: 454.219px;
    height: 61px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding-top: 50px;
    margin-left: -80px;
}

.medium {
    height: 194px;
    color: #000;
    font-family: Kokoro;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 10px;
}

.all-courses-language2 {
    display: flex;
}

.all-courses-language1 {
    display: flex;
}

.img-language-chi {
    width: 300px;
    height: 300px;
}

.img-language-ita {
    width: 300px;
    height: 300px;
}

.img-language-spa {
    width: 300px;
    height: 300px;
}

.view-all-courses {
    width: 338px;
    height: 72px;
    border: 1px solid #000;
    background: #FAF4F1;
    float: right;
    margin-top: -200px;
    cursor: pointer;
    color: #000;
    font-family: Kokoro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 50px;
    margin-bottom: 0px;
}

.view-all-courses:hover {
    background-color: #5e3a3a;
    color: #FAF4F1;
}

.courses-language {
    margin: 30px;
    display: flex;
    direction: row;
    margin-right: 20px;
    background-color: #faf4f1;
    margin-top: -120px;
}

.language {
    background-color: white;
    margin-right: 30px;
    margin-bottom: 50px;
    width: 400px;
}

.img-language-eng {
    width: 300px;
    height: 300px;
}

.img-language-fr {
    width: 300px;
    height: 300px;
}

.img-language-dut {
    width: 300px;
    height: 300px;
}

.name-language {
    width: 392.069px;
    height: 71.858px;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.descriptionf {
    width: 326.028px;
    height: 80.429px;
    flex-shrink: 0;
    color: #5c5454;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -50px;
    text-align: left;
    margin-left: 40px;
}

.enrollf {
    width: 370px;
    height: 44.912px;
    flex-shrink: 0;
    background-color: #5e3a3a;
    color: #FFF;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border: #000;
}


@media (max-width:700px) {

    .medium {
        width: 350px;
        height: 88px;
        flex-shrink: 0;
        color: #000;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: auto;
    }

    .view-all-courses {
        width: 252px;
        height: 50px;
        flex-shrink: 0;
        color: #000;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: auto;
        margin-bottom: 50px;
    }

    .courses-language {
        flex-direction: column;
        margin: 10px;
        margin-top: 70px;
        background-color: #FAF4F1;
    }

    .language {
        margin: 10px;
        width: 300px;

    }

    .enrollf {
        margin: 10px;
        width: 280px;
        text-align: center;
    }

    .name-language {
        font-size: 25px;
        text-align: center;
        margin: 0px;
        width: 320px;
    }

    .img-language-eng {
        width: 290px;
    }

    .img-language-fr {
        width: 290px;
    }

    .img-language-dut {
        width: 300px;
    }

    .description {
        width: 300px;
    }

    .all-courses-language {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .img-language-spa {
        width: 300px;
    }

    .img-language-chi {
        width: 300px;
    }

    .img-language-ita {
        width: 300px;
    }
}