.popular-courses {
    background-color: #faf4f1;
    margin-top: -30px;


}

.roboto {
    width: 454.219px;
    height: 61px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
    margin-left: -80px;
}

.medium {
    height: 194px;
    color: #000;
    font-family: Kokoro;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 10px;
}

.all-courses-language2 {
    display: flex;
}

.all-courses-language1 {
    display: flex;
}

.img-language-chi {
    width: 300px;
    height: 300px;
}

.img-language-ita {
    width: 300px;
    height: 300px;
}

.img-language-spa {
    width: 300px;
    height: 300px;
}

.view-all-coursess {
    display: block;
    width: 338px;
    height: 72px;
    border: 1px solid #000;
    background: #FAF4F1;
    float: right;
    margin-top: -225px;
    cursor: pointer;
    color: #000;
    font-family: Kokoro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 50px;
    margin-bottom: 0px;
}

.view-all-coursess1 {
    display: none;
}

.view-all-coursess:hover {
    background-color: #5e3a3a;
    color: #FAF4F1;
}

.logout-image12 {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
    border-radius: 8px;
}

.logout-image12:hover {
    background-color: #ffffff;
    /* Change the background color on hover */
    border: 1px 0px 0px 0px solid grey;
    /* Add a border on hover */
    box-shadow: 0px 0px 5px 2px #9B6C1B;
    /* Add a shadow effect on hover */
}

.happy123 img {
    width: 450px;
    height: 300px;
    position: absolute;
    top: 15%;
    right: 5%;
    border-radius: 50%;
}

.courses-language {
    margin: 30px;
    display: flex;
    direction: row;
    margin-right: 20px;
    margin-top: -120px;
    margin-left: 7%
}

.language {
    background-color: white;
    margin-right: 30px;
    margin-bottom: 50px;
    width: 400px;
}

.img-language-eng {
    width: 300px;
    height: 300px;
}

.img-language-fr {
    width: 300px;
    height: 300px;
}

.img-language-dut {
    width: 300px;
    height: 300px;
    background-color: white;
}

.courses123 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.language1 {
    width: calc(42.33% - 10px);
    /* 33.33% width for each course with 10px margin */
    margin-bottom: 20px;
    /* Add some vertical spacing between courses */
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
    margin-left: 16px;
    border: 1px solid #ccc;
    background-color: #FFF;

}

.img-language {
    max-width: 100%;
    /* Ensure the image fits within its container */
}

.img-language:hover {
    width: 600px;
}

.title123 h1 {
    font-size: 60px;
    color: #FFBF52;

}

.title123 h1:hover {
    text-decoration: underline;
}

.name-language {
    width: 392.069px;
    height: 71.858px;
    flex-shrink: 0;
    color: #FFBF52;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-left: 110px;
    margin-top: 11px;
}

.descriptionf {
    width: 326.028px;
    height: 80.429px;
    flex-shrink: 0;
    color: #5c5454;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -50px;
    text-align: left;
    margin-left: 170px;
}

.enrollf {
    width: 370px;
    height: 44.912px;
    flex-shrink: 0;
    background-color: #5e3a3a;
    color: #FFF;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border: #000;
    border-radius: 8%;
}


@media (max-width:400px) {
    .title123 h1 {
        margin-top: 60px;
        margin-left: -30px;
    }

    .view-all-coursess {
        display: block;
        width: 318px !important;
        height: 72px;
        border: 1px solid #000;
        background: #FAF4F1;
        float: right;
        margin-top: -80px;
        cursor: pointer;
        color: #000;
        font-family: Kokoro;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 20px;
        margin-bottom: 0px;

    }

    .view-all-coursess1 {
        display: none;
    }

    .language {
        width: 380px;
        margin-left: -30px;
    }

    .name-language {
        margin-left: -28px;
    }

    .descriptionf {
        margin-top: -5px;
        margin-left: 10px;

    }

    .enrollf {
        width: 90%;
    }

    .language1 {
        margin-left: 20px !important;
    }

    .happy123 {
        display: none;
    }
}

@media (min-width:401px)and (max-width:864px) {
    .name-language {
        font-size: 30px;
        margin-bottom: 20px;

    }

    .language1 img {
        width: 90%;
    }

    .descriptionf {
        font-size: 35px;
        width: auto;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    }

    .language1 {
        width: auto;
    }

    .medium {
        width: 290px;
    }


}